---
import Layout from "@layouts/Main.astro";
import Prose from "@components/Prose.astro";
import RouteTree from "@components/ui/RouteTree.astro";

import ArrowRightIcon from "@components/icons/ArrowRight.astro";

const {frontmatter} = Astro.props;

const root = "/om";
const routes = [
  {
    name: "Generelt",
    route: "",
    files: [
      { name: "Om BETA", route: "" },
      { name: "Ny student", route: "/nystudent" },
    ]
  },
  {
    name: "Interessegrupper",
    route: "/interessegrupper",
    files: [
      { name: "BetaDEV", route: "/betadev" },
      { name: "BetaSEC", route: "/betasec" },
    ]
  },
  {
    name: "Komiteer",
    route: "/komiteer",
    files: [
      { name: "Bedkom", route: "/bedkom" },
      { name: "BetaLAN", route: "/betalan" },
      { name: "Eventkom", route: "/eventkom" },
    ]
  },
];

const isCurrentRoute = (path: string) => {
  return Astro.url.pathname === path;
};

---

<Layout title={frontmatter.title}>
  <div class="relative mx-auto w-full max-w-7xl px-0 sm:px-6 flex">
    <div id="tree-menu" class="sm:block hidden absolute top-0 h-full w-full rounded-none sm:rounded w-1/4 bg-gray-100 dark:bg-gray-800">
      <RouteTree routes={routes} root={root} />
    </div>
    <span id="tree-close" class="sm:hidden px-4 absolute sm:static top-0 right-0 text-white"><ArrowRightIcon /></span>
    <div class="px-4 py-4">
      <Prose>
        <h1><span id="tree-open" class="sm:hidden">hei</span> {frontmatter.title}</h1>
        <slot />
      </Prose>
    </div>
  </div>
</Layout>

<script>
  let treeOpenBtn = document.getElementById("tree-open");
  let treeCloseBtn = document.getElementById("tree-close");
  let treeMenu = document.getElementById("tree-menu");

  // Check if darktheme was enabled or system preferes it
  if (treeOpenBtn && treeCloseBtn && treeMenu) {
    treeOpenBtn.addEventListener("click", () => {
      treeMenu.classList.toggle("hidden");
    });
    treeCloseBtn.addEventListener("click", () => {
      treeMenu.classList.toggle("hidden");
    });
  }
</script>


