---
interface Pdf {
  name: string | undefined;
  href: string | undefined;
  year: string | undefined;
  semester: string | undefined;
  examNumber: string | undefined;
  score: string | undefined;
  subject: string | undefined;
}

export interface Props {
  files: Pdf[];
}

const { files } = Astro.props as Props;
---

<div class="rounded border-4 border-brand font-bold">
  <table class="w-full table-fixed" id="examTable">
    <tr style="background-color:#0085ff">
      <th class="border-e border-black">File</th>
      <th onclick="sortTable(0)" class="border-e border-black" style="cursor: pointer">Year</th>
      <th onclick="sortTable(1)" class="border-e border-black" style="cursor: pointer"
        >Exam Number</th
      >
      <th onclick="sortTable(2)" class="border-e border-black" style="cursor: pointer"
        >Exam score (%)</th
      >
      <th onclick="sortTable(3)" class="border-e border-black" style="cursor: pointer">Semester</th>
      <th onclick="sortTable(4)" style="cursor: pointer">Subject</th>
    </tr>
    {
      files.map((file: Pdf) => {
        return (
          <tr class="odd:bg-blue-300 even:bg-blue-400">
            <td class="border-e border-black px-4 text-center">
              <div class="">
                <a href={file.href} download>
                  {file.name}
                </a>
              </div>
            </td>
            <td class="border-e border-black text-center">
              <div>{file.year}</div>
            </td>
            <td class="border-e border-black text-center">
              <div>{file.examNumber}</div>
            </td>
            <td class="border-e border-black text-center">
              <div>{file.score}/100</div>
            </td>
            <td class="border-e border-black text-center">
              <div>{file.semester}</div>
            </td>
            <td class="text-center">
              <div>{file.subject}</div>
            </td>
          </tr>
        );
      })
    }
  </table>
</div>

<script>
  const sortedColumns = {
    0: "",
    1: "",
    2: "",
    3: "",
    4: "",
  };
  // @ts-ignore
  window.sortTable = function (columnIndex: number) {
    const table = document.getElementById("examTable") as HTMLTableElement;
    const tbody = table.tBodies[0];
    const rows = Array.from(tbody.rows).slice(1);
    if (rows.length == 0) return;
    switch (columnIndex) {
      case 0: {
        let sorted = false;
        while (!sorted) {
          let switched = false;
          for (let i = 1; rows.length > i; i++) {
            let cellsA = rows[i - 1].cells[columnIndex].textContent?.trim() || "";
            let cellsB = rows[i].cells[columnIndex].textContent?.trim() || "";

            if (cellsA > cellsB) {
              let temp = rows[i];
              rows[i] = rows[i - 1];
              rows[i - 1] = temp;
              switched = true;
            }
            if (switched == false) sorted = true;
          }
        }
        if (sortedColumns[0] == "" || sortedColumns[0] == "ascending") {
          rows.reverse().forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "descending";
        } else {
          rows.forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "ascending";
        }
        console.log("SORTING BY YEAR");
        break;
      }
      case 1: {
        let sorted = false;
        while (!sorted) {
          let switched = false;
          for (let i = 1; rows.length > i; i++) {
            let cellsA = rows[i - 1].cells[columnIndex].textContent?.trim() || "";
            let cellsB = rows[i].cells[columnIndex].textContent?.trim() || "";

            if (cellsA > cellsB) {
              let temp = rows[i];
              rows[i] = rows[i - 1];
              rows[i - 1] = temp;
              switched = true;
            }
            if (switched == false) sorted = true;
          }
        }
        if (sortedColumns[0] == "" || sortedColumns[0] == "ascending") {
          rows.reverse().forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "descending";
        } else {
          rows.forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "ascending";
        }
        console.log("SORTING BY EXAM NUMBER");
        break;
      }
      case 2: {
        let sorted = false;
        while (!sorted) {
          let switched = false;
          for (let i = 1; rows.length > i; i++) {
            let cellsA = rows[i - 1].cells[columnIndex].textContent?.trim() || "";
            let cellsB = rows[i].cells[columnIndex].textContent?.trim() || "";

            if (cellsA > cellsB) {
              let temp = rows[i];
              rows[i] = rows[i - 1];
              rows[i - 1] = temp;
              switched = true;
            }
            if (switched == false) sorted = true;
          }
        }
        if (sortedColumns[0] == "" || sortedColumns[0] == "ascending") {
          rows.reverse().forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "descending";
        } else {
          rows.forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "ascending";
        }
        console.log("SORTING BY SCORE");
        break;
      }
      case 3: {
        let sorted = false;
        while (!sorted) {
          let switched = false;
          for (let i = 1; rows.length > i; i++) {
            let cellA = rows[i - 1].cells[columnIndex].textContent?.trim() || "";
            let cellB = rows[i].cells[columnIndex].textContent?.trim() || "";

            if (cellA == "H" && cellB == "V") {
              let temp = rows[i];
              rows[i] = rows[i - 1];
              rows[i - 1] = temp;
              switched = true;
            }
            if (switched == false) sorted = true;
          }
        }
        if (sortedColumns[0] == "" || sortedColumns[0] == "ascending") {
          rows.reverse().forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "descending";
        } else {
          rows.forEach(row => tbody.appendChild(row));
          sortedColumns[0] = "ascending";
        }
        console.log("SORTING BY SEMESTER");
        break;
      }
      case 4: {
        console.log("SORTING BY SUBJECT");
        break;
      }
    }
  };
</script>
