---
import { Icon } from "astro-icon/components";

interface TimelineItem {
  title: string;
  description: string;
  when: string;
}

interface Props {
  title: string;
  items: TimelineItem[];
}

const { title, items } = Astro.props as Props;
---

<h3 class="mb-4 text-2xl font-bold text-center">{title}</h3>
<div>
  {
    items.map((item, index) => (
      <div class="flex min-h-16 justify-evenly">
        <div class="flex-1">
          {index % 2 === 0 ? (
            <div />
          ) : (
            <div class="">
              <div class="flex justify-end items-center pr-4 text-white">
                <div class="flex h-[2rem] items-center rounded-l-lg bg-gray-600 px-2 text-sm font-bold">
                  {item.when}
                </div>
                <h4 class="flex h-[2rem] items-center bg-brand pr-1 pl-2 text-lg font-bold">
                  {item.title}
                </h4>
                <div class="h-0 w-0 border-b-[1rem] border-l-[1rem] border-t-[1rem] border-b-transparent border-l-brand border-t-transparent" />
              </div>
            </div>
            <p class="my-2 mr-8 text-right">{item.description}</p>
          )}
        </div>
        <div class="flex flex-col items-center justify-evenly">
          <div class="mt-2 h-4 w-4 rounded-full bg-brand" />
          <div class="mt-2 flex-1 border-2 border-gray-600" />
        </div>
        <div class="flex-1">
          {index % 2 !== 0 ? (
            <div />
          ) : (
            <div class="">
              <div class="flex items-center pl-4 text-white">
                <div class="h-0 w-0 border-b-[1rem] border-r-[1rem] border-t-[1rem] border-b-transparent border-r-brand border-t-transparent" />
                <h4 class="flex h-[2rem] items-center bg-brand pl-1 pr-2 text-lg font-bold">
                  {item.title}
                </h4>
                <div class="flex h-[2rem] items-center rounded-r-lg bg-gray-600 px-2 text-sm font-bold">
                  {item.when}
                </div>
              </div>
            </div>
            <p class="my-2 ml-8">{item.description}</p>
          )}
        </div>
      </div>
    ))
  }
  <div class="flex justify-center"><Icon class="text-2xl text-brand" name="fa-solid:caret-down" /></div>
</div>
